services:
  postgres:
    image: postgres:16
    container_name: go_postgres_micro_db
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app123
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: go_postgres_micro_api
    environment:
      PORT: "8080"
      DATABASE_URL: "postgres://app:app123@postgres:5432/appdb?sslmode=disable"
    ports:
      - "8080:8080"
    depends_on:
      - postgres

volumes:
  pgdata:
